<ion-view id="mainGame" view-title="Leader Board" ng-init="gc.loadAll()">
    <ion-content>
        <table class="table table-striped">
        <h2>Top Players</h2>
            <thead>
            <tr>
                <th>Player</th>
                <th>Score</th>
            </tr>
            </thead>
            <div>
                {{gc.allUsers[0].name}}
            </div>
            <div ng-repeat="item in gc.allUsers">
                {{item.name}}
            </div>
            <tbody>
            <tr ng-repeat="item in gc.allUsers | orderBy:'-gameplay.counter' | limitTo: '10'">
                <th>{{item.name | initials }}</th>
                <th>{{item.gameplay.counter}}</th>
            </tr>
            </tbody>
            </table>
        </div>
        </ion-content>
    </ion-view>