<ion-view id="login" view-title="Login" align-title="left">
  <ion-content style="background-color: deepskyblue;" class="main-container">
    <div class="login-card">
      <img class="app-icon">
      <h1>Welcome Donut Lovers</h1>

      <div class="login-help">
        <div class="row">
          <a href="/auth/facebook"><button class="button button-full button-assertive" ng-click="lc.facebookLogin()">Log in with Facebook</button></a>
        </div>
        <div class="row">
          <a href="/auth/google"><button class="button button-full button-assertive" ng-click="lc.googleLogin()">Log in with Google</button></a>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
