<ion-view id="login" view-title="Login" align-title="left">
  <ion-content style="background-color: deepskyblue;" class="main-container">
    <div class="login-card">
      <img class="app-icon">
      <h1>Welcome Donut Lovers</h1>
      <form>
        <input type="text" name="user" ng-model="lc.username" placeholder="Username">
        <input type="password" name="pass" ng-model="lc.password" placeholder="Password" >
        <input type="submit" name="login" class="login login-submit" value="Login" ng-click="lc.login()">
      </form>

      <div class="login-help">
        <a href="#/app/registerUser">Register</a>
      </div>
    </div>
      <div class="row">
          <button class="button button-full button-positive" ng-click="lc.facebookLogin()">
              Facebook Login
          </button>
      </div>
      <div class="row">
          <button class="button button-full button-assertive" ng-click="lc.googleLogin()">
              Google Login
          </button>
      </div>
  </ion-content>
</ion-view>
