<ion-view id="login" view-title="Register" align-title="left">
    <ion-content style="background-color: deepskyblue;" class="main-container">
        <div class="login-card">
            <img class="app-icon">
            <h1>Register</h1>
            <form>
                <input type="text" name="username" ng-model="lc.username" placeholder="Username">
                <input type="password" name="password" ng-model="lc.password" placeholder="Password">
                <input type="submit" name="creation" class="login login-submit" value="Create User" ng-click="lc.register()">
            </form>
    </ion-content>
</ion-view>