<ion-view id="login" view-title="Register" align-title="left">
    <ion-content style="background-color: deepskyblue;" class="main-container">
        <div class="login-card">
            <img class="app-icon">
            <h1>Register</h1>
            <form>
                <input type="text" name="username" placeholder="Username">
                <input type="password" name="password" placeholder="Password">
                <input type="submit" name="login" class="login login-submit" value="Login" ng-click="ac.login()">
            </form>
    </ion-content>
</ion-view>