<div>
    <button id="google" class="button button-small button-border icon-left ion-fork button-assertive-900" ng-disabled="gc.recorded.counter < gc.recorded.cost" ng-click='gc.incrementClicker()'>Clicker {{ gc.recorded.cost }}</button>
    <button class="button button-small button-border icon-left ion-bowtie button-positive-900" ng-click='gc.clickGrandpa()' ng-disabled="gc.recorded.counter < gc.recorded.gcost">Gramps {{ gc.recorded.gcost }}</button>
    <button class="button button-small button-border icon-left ion-heart-broken button-900" ng-click="gc.upgradePlayer()" ng-disabled="gc.recorded.counter < gc.recorded.goal">Level Up {{ gc.recorded.level }}</button>
</div>




